<html>
<head>
  <title>Watch Party</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script src="/static/script.js"></script>
</head>
<body>
<div class="container">
  <div class="trace">
    <h1>500</h1>
    <h2>Error:</h2>
    <pre>{{ args.trace }}</pre>
    <hr>
    <a href="/">go back to Watch Party</a>
  </div>
</div>
</body>
</html>