<html>
<head>
  <title>Watch Party</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script>
    {% if user %}
    WATCH_PARTY_USER_ID = {{ user.id }};
    WATCH_PARTY_API_KEY = '{{ user.api_key }}';
    {% endif %}
  </script>
  <script src="/static/script.js"></script>
</head>
<body>
<div class="container">

  <div class="login">
    {% if user %}
    <span class="welcomeBack">Welcome back, <a href="/profile">{{ user.name }}</a>! <a class="logout" href="/logout">(logout)</a></span>
    {% else %}
    <a href="/login">Login</a>
    {% endif %}
  </div>

  <div class="hero">
    <div class="logo">
      <img id="tv" src="static/tv.jpeg">
      <img id="popcorn" src="static/popcorn.png">
    </div>
    <h1>Watch Party</h1>
    {% if user %}
    <form action="/rooms/new" method="POST">
      <button value="create">Create a Room</button>
    </form>
    {% else %}
    <form method="POST" action="/signup">
      <button value="create">Signup</button>
    </form>
    {% endif %}
  </div>

  {% if user %}
  <h2>Rooms</h2>
  <div class="roomList">
    {% if rooms %}
    {% for room in rooms %}
      <a href="/rooms/{{ room.id}}">{{room.id}}: <strong>{{room.name}}</strong></a>
    {% endfor %}
    {% else %}
    <div>No rooms yet! You get to be first!</div>
    {% endif %}
    <div id="createRoom">
      <form action="/rooms/new" method="POST">
        <button value="create">Create a Room</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
</body>
</html>
