<html>
<head>
  <title>Watch Party</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script>
    {% if user %}
    WATCH_PARTY_USER_ID = {{ user.id }};
    WATCH_PARTY_API_KEY = '{{ user.api_key }}';
    {% endif %}
  </script>
  <script src="/static/script.js"></script>
</head>
<body>
<div class="container">

  <div class="auth">
    <h2>Welcome to Watch Party!</h2>
    {% if failed %}
    <p class="failed">Oops, that username and password don't match any of our users!</p>
    {% endif %}
    <p>Enter your username and password to log in:</p>
    <form method="POST" action="">
      <input id="username" name="username"></input>
      <label for="username">Username</label>
      <input id="password" type="password" name="password">
      <label for="password">Password</label>
      <button type="submit">Submit</button>
    </form>
  </div>

</div>

</body>
</html>
