<html>
<head>
  <title>Watch Party</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script src="/static/script.js"></script>
  <script>
    {% if user %}
    WATCH_PARTY_USER_ID = {{ user.id }};
    WATCH_PARTY_API_KEY = '{{ user.api_key }}';
    {% endif %}
  </script>
</head>
<body>
<div class="container">
  <div class="auth">
    <h2>Welcome to Watch Party!</h2>
    <div class="profileDetails">
      <label  class="username" for="username">Your username is: </label>
      <input  class="username" id="username" name="username" class="mono" value="{{ user.name }}">
      <button class="username">Update</button>
      <label  class="password" for="password">Your password is: </label>
      <input  class="password" id="password" name="password" class="mono" value="{{ user.password }}">
      <button class="password">Update</button>
    </div>
    <p>
      Your user ID and API Key are available on every page as the javascript variables
      <span class="mono">WATCH_PARTY_USER_ID</span> and
      <span class="mono">WATCH_PARTY_API_KEY</span> respectively
    </p>
    <p>
      <a href="/">Cool, let's go!</a>
    </p>
  </div>

</div>
</body>
</html>
