<html>
<head>
  <title>Watch Party Chat #{{room_id}}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap&family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/style.css"></link>
  <script>
    {% if user %}
    WATCH_PARTY_USER_ID = {{ user.id }};
    WATCH_PARTY_API_KEY = '{{ user.api_key }}';
    {% endif %}
  </script>
  <script src="/static/script.js"></script>
</head>
<body>

<div class="header">
  <h2><a href="/">Watch Party</a></h2>
  {% if room %}
  <div class="roomData">
    <div>Chatting in:</div>
    <h3 class="display">
      <span class="roomName">{{ room['name'] }}</span>
      <!-- TODO: when clicked, 
        - remove `hide` from the `edit` h3 below
        - add `hide` to the parent h3 here -->
      <a href="#"><span class="material-symbols-outlined">edit</span></a></h3>
    </h3>
    <h3 class="edit hide">
      <input value="{{ room['name'] }}">
      <!-- TODO: when clicked,
        - POST to update the room name
        - update `roomName` above with the new name
        - remove `hide` from the `display` h3 above
        - add `hide` to the parent h3 here -->
      <a href="#"><span class="material-symbols-outlined">save</span></a></h3>
    </h3>
    <div class="invite">
      Invite users to this chat at:
      <a href="/rooms/{{ room['id'] }}" id="invite link">/rooms/{{ room['id'] }}</a>
    </div>
  </div>
  {% endif %}
</div>

<div class="clip">
<div class="container">
  {% if room %}
  <div class="chat">
    <div class="comment_box">
      <form>
        <label for="comment">What do you have to say?</label>
        <textarea name="comment"></textarea>
        <button type="submit" value="Post">Post</button>
      </form>
    </div>
    <div class="messages">
      <message>
        <author>Mr Chatterworth</author>
        <content>Good evening! And how is everyone feeling?</content>
      </message>
      <message>
        <author>big chats</author>
        <content>gr8 lol</content>
      </message>
      <message>
        <author>Mr Chatterworth</author>
        <content>Splendid!</content>
      </message>
      <message>
        <author>Chatty Cat</author>
        <content>
          Meow meow meow meow meow meow meow meow meow meow meow 
          meow meow meow meow meow meow meow meow meow meow meow 
          meow meow meow meow meow meow meow meow meow meow meow 
        </content>
      </message>
      <message>
        <author>Mr Chatterworth</author>
        <content>Indeed, M. Cat. Indeed. 🧐</content>
      </message>
    </div>
  </div>
  {% else %}
  <h2>Oops, we can't find that room!</h2>
  <p><a href="/">Let's go home and try again.</a></p>
  {% endif %}
</div>
</div>

<script>
startMessagePolling();
</script>

</body>
</html>
