body {
  background-color: #333366;
  margin: 0;
}
.container {
  width: 900px;
  height: 100%;
  margin: auto;
  padding: 0 30px 0 30px;
  background-color: white;
  box-shadow: 0 0 20px black;
  font-family: sans-serif;
}
.trace {
  padding: 20px;
}
.trace h1 {
  color: lightcoral;
  font-size: 64px;
  font-weight: 100;
}
.login {
  display: flex;
  justify-content: flex-end;
}
.login>a {
  font-size: 18px;
  background-color: orange;
  color: white;
  text-shadow: -1px -1px 2px black;
  font-family: sans-serif;
  text-decoration: none;
  padding: 20px 30px 10px 30px;
  border-radius: 0 0 8px 8px;
  margin: -10px 10px 0 0;
  will-change: transform;
  transition: transform 250ms;
}
.login>a:hover {
  transform: translateY(4px);
  box-shadow: 0 4px 8px #ffffa2;
}
.login .logout {
  color: gray;
  text-shadow: none;
}
.login .welcomeBack {
  background-color: lightsalmon;
  color: white;
  text-shadow: 0 0 2px brown;
  font-family: sans-serif;
  padding: 8px 30px 10px 30px;
  border-radius: 0 0 8px 8px;
}
.hero {
  margin: auto;
  width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
h1, h2, h3 {
  font-family: 'Rowdies', cursive;
}
.hero h1 {
  display: block;
  grid-column: 1/3;
  grid-row: 1/3;
  z-index: 4;
  margin: auto;
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;
  font-family: 'Rowdies', cursive;
}
.logo {
  display: grid;
  grid-column: 1/3;
  grid-row: 1/3;
  height: 300px;
  width: 600px;
}
.logo img {
  grid-column: 1/3;
  grid-row: 1/3;
}
.logo img#tv {
  height: 300px;
  padding-left: 60px;
}
.logo img#popcorn {
  height: 200px;
  padding-top: 100px;
}
button {
  color: white;
  text-shadow: -1px -1px 2px black;
  font-family: sans-serif;
  background-color: orange;
}
.hero form {
  grid-column: 2/3;
  grid-row: 2/3;  
}
.hero button {
  margin: 20px 40px 20px 40px;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  background-color: orange;
  border: 7px outset orange;
  border-radius: 20px;
  box-shadow: 0 0 4px magenta;
  filter: drop-shadow(10px 4px 4px #4444dd);
  will-change: transform;
  transition: transform 250ms;
}
.hero button:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 5px magenta;
}
.roomList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.roomList>a {
  display: block;
  flex: 1 1 30%;
  padding: 8px;
  margin: 4px;
  color: white;
  text-shadow: 0 1px 1px darkslateblue;
  border-radius: 4px;
  background-color: gray;
  box-shadow: 0 4px 8px lightcyan;
}
.roomList>a:hover {
  background-color: rgb(75, 101, 122);
  border-radius: 3px;
}
.roomList a {
  text-decoration: none;
  will-change: transform;
  transition: transform 250ms;
}
.roomList a:hover {
  transform: scale(1.025);
}
#createRoom {
  margin: 20px;
  flex: 1 1 100%;
  text-align: right;
  align-content: right;
}
#createRoom a {
  display: block;
  width: 8em;
  text-align: center;
  padding: 12px 20px 12px 20px;
  border-radius: 7px;
  color: white;
  text-shadow: 0 1px 1px darkslateblue;
  background-color: orange;
}
#createRoom a:hover {
  transform: scale(1.1);
}
.mono {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: darkred;
  background-color: aliceblue;
}
.header {
  display: flex;
  background-color: white;
  color: gray;
  font-family: 'Rowdies', cursive;
  position: relative;
  z-index: 2;
  box-shadow: 0 10px 8px darkslateblue;
}
.header h2 {
  font-size: 45px;
  color:white;
  text-shadow: 1px 1px 5px black, 3px 3px 2px orange, -3px -1px 2px blue;
  font-family: 'Rowdies', cursive;
  padding: 10px;
  margin-block-start: 0.83em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  flex-basis: 500px;
}
.header h2 a {
  color: white;
  text-decoration: none;
}
.header invite {
  width: 100%;
  flex-basis: auto;
  padding: 30px;
  display: inline;
  text-align: right;
}
.header invite a {
  font-family: sans-serif;
  font-weight: bold;
  color: hotpink;
}
.clip {
  overflow: hidden;
}
.clip .container {
  padding-top: 20px;
}
.chat {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100%;
}
.chat .comment_box {
  margin-right: 20px;
  padding-right: 20px;
  height: 100%;
  border-right: 8px solid lightgray;
}
.chat .comment_box textarea {
  display: block;
  width: 100%
}
.chat .comment_box button {
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin-top: 15px;
}
.chat .comment_box label {
  display: block;
  font-family: 'Rowdies', cursive;
  margin-bottom: 10px;
}
.chat .messages {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: min-content;
  grid-auto-rows: min-content;
  height: auto;
}
.chat message {
  display: grid;
  grid-column: 1/3;
  grid-template-columns: 200px 1fr;
  border-bottom: 1px solid lightgray;
}
.chat message author {
  color: #c93;
  font-weight: bold;
  display: block;
  padding: 5px;
  grid-column: 1/2;
}
.chat message content {
  display: block;
  padding: 5px;
  grid-column: 2/3;
}
.profileDetails {
  display: grid;
  grid-template-columns: 9em 12em 5em;
  column-gap: 0.4em;
  row-gap: 0.8em;
}
.roomData h3 {
  font-size: 2.5em;
}
.roomData .edit input {
  font-size: 1em;
}
.roomData a {
  color: lightgray;
}
.hide {
  display: none;
}