@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
body, .remark-container {
  font-family: "Droid Serif";
  background-color: white;
  margin: 0;
  min-width: 15em;
}
.remark-slides-area {
  margin-top: -1.3em;
  z-index: 1;
}
#header {
  background-color: #333;
  color: white;
  font-family: "Droid Sans";
  padding: 0;
  position: relative;
  z-index: 2;
  a, a:visited { 
    color: white; 
    text-decoration: none;
  }
  ul { 
    display: flex;
    margin: 0;
    padding-inline-start: 0;
  }
  li:not(.spacer) {
    background-color: #444;
    padding: 1px;
    display: block;
    width: 5em;
    max-width: 5em;
    height: 1.3em;
    margin: 0 2px;
  }
  li.selected {
    a {color: #666;}
  }
  li:nth-child(n+2):hover:not(.selected, .spacer) {
    background-color: #666;
  }
  li:first-child {
    margin-right: auto;
    border: none;
  }
  li:last-child {
    margin-left: auto;
  }
  li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1.2em;
  }
}
@media (max-width: 45em) {
  #header {
    e { display: none; }
    li { width: 1em; }
  }
}
#header ul {
  display: flex;
}
#indexContainer {
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
}
#home {
  width: 100px;
  position: absolute;
  z-index: 5;
  display: none;
  margin: 10px;
}
textarea {
  display: none;
}
ul.slideButtons {
  list-style-type: none;
}
header {
  display: flex;
  flex-wrap: wrap;
  z-index: 4;
  position: relative;
}
header.big {
  font-size: 32px;
  margin: 2em;
}
header.big a,
header.big span {
  flex: 0 0 auto;
}
header a,
header span {
  font-family: "Droid Sans", sans-serif;
  font-weight: bold;
  color: #333;
  display: block;
  padding: 0.4em 0.8em 0.4em 0.8em;
  margin: 0.2em;
  background-color: white;
  text-decoration: none;
  border: 0.05em solid #888;
  border-radius: 0.3em;
  box-shadow: -0.05em -0.02em 0.2em 0.02em #ddd;
}
header a:hover {
  box-shadow: -0.05em 0.02em 0.2em 0.02em #999;
}
header span {
  color: #bbb;
  border: 0.05em solid #ddd;
}

h1,
h2,
h3,
.fancyStrong strong,
.credit {
  font-family: "Yanone Kaffeesatz";
  font-weight: normal;
}
.fancyStrong strong, .big {
  font-size: xx-large;
}
.credit {
  display: block;
  color: #aaa;
  text-decoration: none;
  font-size: 0.75em;
  text-align: center;
  padding: 0.25em;
}
.credit a {
  color: #aaa;
}
.remark-inline-code,
.remark-code-line {
  font-family: "Ubuntu Mono";
  background-color: #e5f1ff;
  padding: 5px;
}
.agenda h1 {
  margin-bottom: 0px;
}
.agenda ul {
  margin-block-start: 0;
  color: #666;
}
blockquote p {
  border-left: 0.5em solid lightgray;
  padding-left: 0.5em;
}
blockquote footer {
  font-size: small;
  color: gray;
}
img {
  display: block;
  width: max-content;
  height: max-content;
}
.overlay p {
  position: relative;
  z-index: 1;
  padding: 1em;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 0.2em rgba(255,255,255,0.8);
}

.overlay p:has( img) {
  z-index: 0;
  width: 100%;
  float: right;
  margin-bottom: -100%;
}
.animate img {
  width: 210px;
  animation-duration: 3s;
  animation-name: rise;
}
@keyframes rise {
  from {
    margin-top: 60%;
    margin-left: 100%;
  }
  to {
    margin-top: 0%;
  }
}
